body {
  position: relative;
  box-sizing: border-box;
  word-wrap: break-word;
}

#header-section {
  position: sticky;
  top: 0;
  width: 100%;
  height: auto;
  font-family: "Poppins";
}

#logo {
  position: relative;
  bottom: 40px;
}

#logo>img{
  width: 184px;
  height: 90px;
  border-radius: 10px;
  margin-top: 10px;
}

#login-icon {
  position: relative;
  top: 1em;
  display: flex;
  justify-content: flex-end;
  margin: 10px;
  font-size: 15px;
}

.nav-link {
  padding: 0 15px !important;
  color: rgb(144, 46, 78) !important;
  font-weight: 600;
  font-size: 15px;
  transition-duration: 0.4s;
}

.nav-item>a:hover {
  color: #74b04f !important;
}

#menu-icon {
  position: absolute;
  right: 0;
  display: none;
}

/* home section */

#home-section {
  position: relative;
  width: 100%;
  height: max-content;
}

#home-img {
  width: 100%;
  height: auto;
  top: 4em;
  position: relative;
}

#home-img>img {
  width: 100%;
  height: 520px;
  position: relative;
}

#home-titles {
  position: relative;
  top: 5em;
}

.title-one {
  position: relative;
  display: flex;
  margin-top: 55px;
  flex-direction: column;
  text-align: center;
  font-family: "Poppins";
  font-size: 32px;
  color: rgb(144, 46, 78) !important;
  font-weight: 600;
}

#home-video {
  position: relative;
  width: 825px;
  height: 425px;
  top: 8em;
}

#icon-group {
  position: relative;
  top: 4em;
  text-align: center;
  font-family: "Poppins";
}

.icons>a>img {
  color: #5f0038;
}


.icon-title {
  display: block;
  font-size: 33px;
  color: rgb(144, 46, 78);
  font-weight: 600;
}

#icon-container {
  position: relative;
  display: flex;
  right: 20px;
  margin: 20px;
  justify-content: center;
}

#icon-container>.icons {
  padding: 10px;
  width: calc(100% / 4);
  height: 250px;
}

#icon-container>.icons>img:hover {
  color: #74b04f;
  transition: 0.3s;
}

.shop-now-title>h2 {
  position: relative;
  top: 32px;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  color: #74b04f;
}

/* our story section */

#our-story-section {
  position: absolute;
  top: 10em;
  height: min-content;
  overflow-x: hidden;
}

#story-img {
  width: 100%;
  height: auto;
  top: 4em;
  position: relative;
}

#story-img-content {
  position: relative;
  height: 420px;
  width: 400px;
  left: calc(100%/3.5);
  bottom: 23rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  padding: 5px;
  background-color: white;
  font-family: "Poppins";

}

#story-img-content>h1:first-child {
  font-size: 35px;
  position: relative;
  text-align: center;
  font-weight: 800;
  color: rgb(116, 176, 79);
  margin-bottom: 5px;
}

.prgrph-one {
  font-size: 17px;
  color: rgb(144, 46, 78);
  font-weight: 700;
  margin-bottom: 3px;
  margin-top: 15px;
  padding: 7px;
  text-align: center;
}

.prgrph-two {
  color: rgb(144, 46, 78);
  padding: 8px;
}

#carouselExampleSlidesOnly {
  position: relative;
  bottom: 22.3em;
  left: calc(100%/4.2);
  width: 430px;
  height: 440px;
  background-size: cover;
}

.left-carousel {
  position: absolute;
  width: 320px;
  height: 300px;
  right: 29em;
  top: 7.5em;
  text-align: right;
  font-weight: 700;
  color: white;
}


#img-loop>img {
  position: relative;
  right: 13.1em;
  top: 2em;
}

#story-txtcontent {
  bottom: 6em;
  position: relative;
  font-family: "Poppins";
  text-align: center;
}

.header-title {
  font-size: 35px;
  color: rgb(116, 176, 79);
  font-weight: 600;
}

.prgrph-three {
  position: relative;
  color: rgb(144, 46, 78);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  bottom: 10em;
}

#story-slider {
  bottom: 15em;
  position: relative;
  margin-top: 2.5em;
  display: flex;
  height: 400px;
  justify-content: center;
  background-size: cover;
}

#story-slider>.slider {
  width: calc(100% / 5);
}

.shop-now-second {
  position: relative;
  bottom: 8em;
  left: calc(100%/3);
  overflow: hidden;
  font-family: "Poppins";
  color: #74b04f;
  text-align: center;

}

/* health benifits section */

#health-benifit-section {
  position: absolute;
  top: 12rem;
}

#health-img {
  width: 100%;
  height: auto;
  top: 2em;
  position: relative;
}

#health-img-content {
  position: relative;
  height: 432px;
  width: 400px;
  left: calc(100%/6.3);
  bottom: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 5px;
  background-color: #af7597;
  font-family: "Poppins";
}

#health-img-content>div>img {
  padding: 10px;
  display: flex;
  justify-content: center;
}

#health-section-sliders {
  position: relative;
  bottom: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  left: 8%;
}

#health-section-sliders>div>div {
  height: 300px;
  font-family: "Poppins";
  text-align: justify;

}



/* recipe section */

#recipe-section {
  position: absolute;
  top: 29rem;
  height: 10em;
}

#recipe-img {
  position: relative;
  width: 100%;
  height: auto;
  bottom: 15em;
}

#recipe-img-content {
  position: relative;
  justify-items: baseline;
  flex-direction: column;
  text-align: center;
  width: 400px;
  height: 400px;
  left: calc(100%/1.6);
  bottom: 43rem;
  background-color: white;
  font-family: "Poppins";
  padding: 5px;
}

.content-title {
  color: #74b04f;
  margin-bottom: 4px;
}

.content-prgrph-one {
  font-size: 17px;
  color: rgb(144, 46, 78);
  font-weight: 500;
  margin-bottom: 3px;
  margin-top: 10px;
  padding: 7px;
  text-align: left;
}

.list {
  position: relative;
  text-align: justify;
  left: 100px;
  bottom: 5px;
  font-weight: 500;
}

.content-prgrph-two {
  color: rgb(144, 46, 78);
  padding: 8px"

}

#recipe-content {
  position: relative;
  top: -37em;
  text-align: center;
  font-family: "Poppins";
}

#recipe-content>h1 {
  position: relative;
  top: 20px;
  right: 8px;
  color: green;
  font-size: 35px;
  font-weight: 550;
}

.recipe {
  position: relative;
  right: calc(100%/8.3);
}

.recipe-two {
  position: relative;
  left: calc(100%/13);
}

.content-prgrph-three {
  color: rgb(144, 46, 78);
  font-weight: 500;
  font-size: 17px;
  display: flex;
  word-wrap: break-word;
}

.recipe-content>div{
  position: relative;
  width:100%;
  margin: 50px;
  text-align: justify;
  top: 2em;
}

.recipe-img{
  margin-top: 20px;
  width: 220px;
}


/* contact us section */

#contact-us-section {
  position: absolute;
  top: 39rem;
  height: 10em;
}

#contact-img {
  position: relative;
  top: -25em;
}

#contact-content {
  font-family: "Poppins";
  height: auto;
}

#social>a>img {
  width: 60px;
  margin: 5px;
}

.content-title {
  color: #5f0038;
}

.col2 {
  position: absolute;
  bottom: 15cm;
  left: calc(100%/1.9);
  background-color: whitesmoke;
  width: 470px;
  height: 350px;
}

form {
  position: relative;
  top: 12px;
}

.form-title {
  position: relative;
  bottom: 5px;
  font-size: 32px;
  font-weight: 600;
  color: #74b04f;
}

.form-group>label {
  position: relative;
  display: flex;
  justify-content: flex-start;
  right: auto;
  margin: 5px;
  font-weight: 400;
}

.form-group>textarea {
  height: 165px;
  margin-top: 20px;
}

.btn-send {
  position: relative;
  margin-top: 20px;
  background-color: #87446B;
  color: white;
  font-weight: 500;
  right: 13em;
  width: 130px;
  height: 45px;
  border: unset;
  position: absolute;
  left: 0;
}

.btn-send:hover {
  background-color: #A29160;
  transition: 1s;
}

#footer-container {
  position: relative;
  width: 100%;
  height: 400px;
  bottom: 0;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-top: 250px;
  width: 100%;
  height: 300px;
  background-color: #5f0038;
}


/* media quaries */

@media (max-width:375px) {

  body {
    overflow-x: hidden;
  }

  #icon-container {
    position: relative;
    bottom: 34px !important;
    display: flex;
    right: 20px !important;
    margin: 20px;
    justify-content: center;
    height: 94px !important;
  }

  #icon-container>.icons {
    padding: 3px;
    width: 113px;
    height: 256px;
  }

  #story-img-content {
    position: relative;
    height: 420px;
    width: 400px;
    left: -5px !important;
    bottom: -6rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left !important;
    padding: 5px;
    background-color: white;
    font-family: "Poppins";
  }

  #story-slider {
    bottom: 22em !important;
    left: 7em !important;
    position: relative;
    display: flex;
    height: 400px !important;
    justify-content: center;
    background-size: cover;
  }

  .prgrph-three {
    position: relative;
    color: rgb(144, 46, 78);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px !important;
    bottom: 14em !important;
  }

  .shop-now-second {
    position: relative;
    bottom: -86em !important;
    left: 10px !important;
    overflow: hidden !important;
    font-family: "Poppins";
    color: #74b04f;
    text-align: center;
  }


  #health-img-content {
    position: absolute;
    height: 432px !important;
    width: 275px !important;
    bottom: -13rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 5px;
    background-color: #af7597;
    font-family: "Poppins";
    margin-left: 15px;
  }

  #health-section-sliders {
    position: relative;
    bottom: -35rem !important;
    left: -4px;
  }

  #health-section-sliders>div>div{
    display: block !important;
    position: relative;
    text-align: justify;
  }

  .health-benifit-prgrph>p {
    width: 370px;
    display: flex;
  }

  #recipe-content {
    position: relative;
    top: -8em !important;
    text-align: justify;
    font-family: "Poppins";
    font-size: small !important;
  }

  #recipe-img-content {
    position: relative;
    justify-items: baseline;
    flex-direction: column;
    text-align: center;
    width: 308px;
    height: 400px;
    left: 0 !important;
    bottom: 43rem;
    background-color: white;
    font-family: "Poppins";
    padding: 5px;
    top: -200px;
    font-size: smaller;
  }

  .content-prgrph-three {
    color: rgb(144, 46, 78);
    left: auto;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    word-wrap: break-word;
    width: 351px !important;
    margin-right: 100px;
  }

  .contact-us-banner {
    position: absolute;
    top: 14em !important;
    left: 11px !important;
    background-color: whitesmoke;
    width: 350px;
    height: 333px;
  }

  .content-image>img {
    display: none !important;
  }

  .contact-us-details {
    position: absolute;
    bottom: 5cm !important;
    left: 0 !important;
    background-color: whitesmoke;
    width: 470px;
    height: 350px
  }

  #contact-form {
    position: relative;
    right: 6em;
    overflow: hidden;
    top: 24em;
  }

}

@media (max-width:700px) {
  .left-carousel {
    display: none;
  }

  #carouselExampleSlidesOnly {
    margin: 5px;
  }
}

@media (max-width:820px) {

  #health-img-content {
    position: relative;
    height: 432px !important;
    width: 400px !important;
    left: 1em;
    bottom: -3rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 5px;
    background-color: #af7597;
    font-family: "Poppins";
  }

  #health-section-sliders {
    position: relative;
    bottom: -7rem !important;
  }

  .contact-us-banner {
    position: absolute;
    bottom: 13cm !important;
    left: 398px !important;
    background-color: whitesmoke;
    width: 421px;
    height: 333px;
  }

  #contact-form{
    position: relative;
    top: 36em;
    right: 12em !important;
  }

  .contact-us-details {
    position: absolute;
    bottom: 13.7cm !important;
    left: 385px;
    background-color: whitesmoke;
    width: 434px;
    height: 300px;
  }

  .content-image{
      position: relative;
      left: 5em;
  }
}

@media (max-width:1050px) {

  #story-img-content {
    position: relative;
    height: 420px !important;
    width: 400px !important;
    left: calc(100%/3.5);
    bottom: -6rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left !important;
    padding: 5px;
    background-color: white;
    font-family: "Poppins";
  }

  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: none !important;
  }

  #recipe-img-content {
    position: relative;
    justify-items: baseline;
    flex-direction: column;
    text-align: center;
    width: 400px;
    height: 400px;
    left: 133px !important;
    bottom: 13rem !important;
    background-color: white;
    font-family: "Poppins";
    padding: 5px;
  }

  #recipe-content {
    position: relative;
    top: -11em !important;
    text-align: center;
    font-family: "Poppins";
  }

  .contact-us-details{
    position: absolute;
    bottom: 15cm;
    left: 350px;
    background-color: whitesmoke;
    width: 470px;
    height: 350px;
  }

  form{
    display: block;
  }

}